:host {
	font-family:"SF-Pro", "roboto";
	position: relative;
	display: block;
}

:host(:hover) #editorIcons[tracker="true"]{
	opacity: 1;
	transition: 0.3ms ease-in-out;
}

#textBlock {
	font-family: "SF-Pro";
	border: none;
	overflow: hidden;
	word-break: break-all;
	outline: none;
	resize: none;
	display: inline-block;
}

#textBlock:empty::before{
	content: attr(placeholder);
	color: gray;
}

.eventNodateFocused::after{
	content: attr(dateFiller);
	color: gray;
}

.unstylized{
	margin: 7px 0 12px;
	font-size: 18px;
	line-height: 28px;
	width: calc(100% - 38.3px - var(--block-tab-level));
}

.note{	
	margin: 0;
	margin-left: -42px;
	position: relative;
	font-size: 18px;
	line-height: 28px;
	vertical-align: top;
	width: calc(100% - var(--block-tab-level));
}

.task{
	margin: 7px 0 2px;
	font-size: 18px;
	line-height: 28px;
	width: calc(100% - 61.3px) - var(--block-tab-level);
}

.header1{
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
	margin: 15px 0 20px;
	width: calc(100% - 38.3px - var(--block-tab-level));
}

.header2{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	margin: 8px 0 13px;
	width: calc(100% - 38.3px - var(--block-tab-level));
}

.header3{
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	margin: 7px 0 10px;
	width: calc(100% - 38.3px - var(--block-tab-level));
}

.unstylized.tracker{
	width: calc(100% - var(--block-tab-level)) !important;
}

.note.tracker{
	margin-left: 0 !important;
	width: calc(100% - var(--block-tab-level)) !important;
}

.task.tracker{
	width: calc(100% - 23.3px) - var(--block-tab-level) !important;
}

.header1.tracker{
	width: calc(100% - var(--block-tab-level)) !important;
}

.header2.tracker{
	width: calc(100% - var(--block-tab-level)) !important;
}

.header3.tracker{
	width: calc(100% - var(--block-tab-level)) !important;
}

.bold{
	font-weight: 900;
}

.italics{
	font-style: italic;
}

.underlined{
	text-decoration: underline;
}

.crossed{
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

#editorIcons{
	display: inline-block;
	vertical-align: top;
}

#editorIcons img{
	margin-right: 7px;
	height: 15px;
	cursor: pointer;
	filter: var(--icon-filter);
}

.unfocusedIcons{
	opacity: 0.3;
	transition: 0.2s;
}

.focusedIcons{
	opacity: 0.5;
	transition: 0.2s;
}

#editorIcons img:hover{
	opacity: 0.8;
	transition: opacity 0.2s;
}

.header1Icons{
	margin-top: 35px;
}

.header2Icons{
	margin-top: 18px;
}

.header3Icons{
	margin-top: 12px;
}

.noteIcons{
	position: relative;
	top: 2px;
	left: -57px;
}

.paragraphIcons{
	margin-top: 9px;
}

#editorIcons[tracker="true"] {
	position: absolute;
	top: calc(50% - 40px);
	right: -25px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0;
	transition: 0.3ms ease-in-out;
}

#checkerContainer{
	position: relative;
	overflow: hidden;
	user-select: none;
	display: inline;
	top: 8px;
}

#taskChecker{
	display: inline-block;
	user-select: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	margin-right: 3px;
	vertical-align: top;
	border-radius: 3px;
}

#taskChecker:active, #checkerContainer[checked="checked"]:active #taskChecker{
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

#checkerContainer[checked="checked"] #taskChecker{
	background-color: #218be2;
	border: 1px solid #218be2;
	box-shadow: 0 1px 2px rgba(0, 87, 168, 0.05);
	color: #218be2;
}

#checkerContainer[checked="checked"]:after {
	position: absolute;
	left: 5px;
	content: '\2714';
	font-size: 13px;
	color: #fff;
}

#signifiers {
	position: relative;
}

#signifiers button {
	border: none;
	color: var(--normal-font-color);
	font-size: 18px;
	opacity: 0.4;
	cursor: pointer;
	border-radius: 4px;
	padding: 0;
	line-height: 0;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	border: 1px solid var(--lighter-divider-color);
	background-color: var(--card-background-dim);
	box-shadow: 1px 1px 9px 0 var(--card-shadow);
	transition: 0.3s ease-in-out;
}

#signifiers button:hover {
	opacity: 0.7;
	transition: 0.3s ease-in-out;
}

.paragraphSignifiers{
	left: 35px;
	top: -12px;
	margin: 0 0 -7px;
	width: calc(100% - 35px - var(--block-tab-level));
}
.noteSignifiers{
	left: calc(35px - 57px);
	top: 0;
	margin: 0 0 -7px;
	width: calc(100% + 22px - var(--block-tab-level));
}
.taskSignifiers{
	left: 35px;
	top: -5px;
	margin: 0 0 -5px;
	width: calc(100% - 35px - var(--block-tab-level));
}
.h1Signifiers{
	left: 35px;
	top: -20px;
	margin: 0 0 -7px;
	width: calc(100% - 35px - var(--block-tab-level));
}
.h2Signifiers{
	left: 35px;
	top: -13px;
	margin: 0 0 -7px;
	width: calc(100% - 35px - var(--block-tab-level));
}
.h3Signifiers{
	left: 35px;
	top: -10px;
	margin: 0 0 -7px;
	width: calc(100% - 35px - var(--block-tab-level));
}

.paragraphSignifiers.tracker{
	left: 0;
	top: -12px;
	margin: 0 0 -7px;
	width: calc(100% - var(--block-tab-level));
}
.noteSignifiers.tracker{
	left: 0;
	top: 0;
	margin: 0 0 -7px;
	width: calc(100% - 13px - var(--block-tab-level));
}
.taskSignifiers.tracker{
	left: 10px;
	top: -5px;
	margin: 0 0 -5px;
	width: calc(100% - 10px - var(--block-tab-level));
}
.h1Signifiers.tracker{
	left: 0;
	top: -20px;
	margin: 0 0 -7px;
	width: calc(100% - var(--block-tab-level));
}
.h2Signifiers.tracker{
	left: 0;
	top: -13px;
	margin: 0 0 -7px;
	width: calc(100% - var(--block-tab-level));
}
.h3Signifiers.tracker{
	left: 0;
	top: -10px;
	margin: 0 0 -7px;
	width: calc(100% - var(--block-tab-level));
}
