:host{
	font-family: system-ui;
}

header{
	display: grid;
	width: calc(100% - 20px);
	grid-template-columns: repeat(7, 14.3%);
	text-align: center;
}

header h1{
	font-size: 21px;
	color: var(--dimmer-title-color);
}

.days{
	display: block;
}

.mobileDays{
	display: none;
}

section {
	display: grid;
	/* background-color: var(--card-background); */
	width: calc(100% - 20px);
	grid-template-rows: repeat(8, calc(((100vw - 325px) * 0.637) * 0.143));
	border-radius: 10px;
	grid-template-columns: repeat(7, 14.3%);
}

section > calendar-day {
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

section > calendar-day:nth-of-type(n){
	--border-left: 1px solid var(--lighter-divider-color);
	--border-top: 1px solid var(--lighter-divider-color);
}

section > calendar-day:nth-last-of-type(-n + 7){
	--border-bottom: 1px solid var(--lighter-divider-color);
}

section > calendar-day:nth-of-type(7n){
	--border-right: 1px solid var(--lighter-divider-color);
}

section > calendar-day:nth-of-type(1){
	--top-left-radius: 10px;
	--border-top-left-radius: 10px;
}

section > calendar-day:nth-of-type(7){
	--top-right-radius: 10px;
	--border-top-right-radius: 10px;
}

section > calendar-day:nth-last-of-type(7) {
	--bottom-left-radius: 10px;
	--border-bottom-left-radius: 10px;
}

section > calendar-day:last-of-type{
	--bottom-right-radius: 10px;
	--border-bottom-right-radius: 10px;
}

@media only screen and (max-widtH: 1550px) {
	.days {
		display: none;
	}

	.mobileDays {
		display: block;
	}
}

@media only screen and (max-width: 1024px){
	header{
		grid-template-columns: repeat(7, 87px);
	}
	
	section {
		width: 609px;
		grid-template-columns: repeat(7, 87px);
	}
}