:host {
	font-family: system-ui;
}

/* The Popup background */
.popup {
	background: white;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	bottom: 0; /* Full width */
	right: 0; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #0000007F; /* Black w/ opacity */
}

/* Pop up  window */
.menu {
	color: var(--normal-font-color);
	background-color: var(--sidebar-background); /*#fefefe;*/
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	height: 70%;
	max-width: 800px;
	max-height: 800px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	min-height: 450px;
	min-width: 400px;
	border-radius: 6px;
}

.popup-content {
	display: flex;
	width: 70%;
	flex-direction: column;
	flex: 1;
}

.menu-content {
	padding: 20px;
	grid-column-gap: 5px;
	justify-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

header {
	display: grid;
	grid-template-columns: 40px auto 40px;
	align-items: center;
	margin-top: 20px;
	height: 90px;
	border-bottom: 1px solid var(--divider-color);
}

header h1 {
	text-align: center;
	grid-column-start: 2;
	margin: 0;
}

/* The Close Button */
.close {
	color: var(--normal-font-color);
	align-self: start !important;
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 6px;
	transition: 0.2s;
}

.close img {
	filter: var(--highlighted-icon-filter) hue-rotate(40%);
	height: 100%;
	width: 20px;
	height: 20px;
	transition: 0.2s;
}

.close:hover {
	opacity: 1;
	transition: 0.2s;
}

.createLayout {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

#createButton {
	grid-column-start: 2;
	display: inline-block;
	background-color: var(--primary-button-color);
	border: none;
	color: var(--highlighted-font-color);
	cursor: pointer;
	text-align: center;
	padding: 10px 15px;
	border-radius: 6px;
}

#loadingWheel {
	width: 20px;
	object-fit: contain;
	margin-left: auto;
}

form {
	display: flex;
	flex-direction: column;
	flex: 1;
}

label, input {
	font-size: 20px;
}

label {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 5px;
}

input {
	color: var(--normal-font-color);
	width: 100%;
	border: 1px solid var(--divider-color);
	border-radius: 5px;
	height: 45px;
	background-color: var(--sidebar-background);
	box-sizing: border-box;
	outline: none;
	padding: 10px;
}

#futureTimes{
	display: flex;
	margin-top: 20px;
}

#futureTimes div:first-of-type {
	margin-right: 10px;
}

#futureTimes div:last-of-type {
	margin-left: 10px;
}

#tracker-recurring-check{
	margin-top: 20px;
}

#tracker-recurring{
	border: none;
	display: inline-block;
	vertical-align: middle;
	background-color: var(--body-background);
	margin-top: -4px;
	user-select: none;
	border: 1px solid var(--dim-font-color);
	width: 18px;
	height: 18px;
	border-radius: 3px;
}

#checkerContainer {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	height: 18px;
}

#tracker-recurring:active, #checkerContainer[checked="checked"]:active #tracker-recurring{
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

#checkerContainer[checked="checked"] #tracker-recurring{
	background-color: var(--primary-button-color);
	border: 1px solid var(--primary-button-color);
	box-shadow: 0 1px 2px rgba(0, 87, 168, 0.05);
	color: var(--primary-button-color);
}

#checkerContainer[checked="checked"]:after {
	position: absolute;
	left: 5px;
	content: '\2714';
	font-size: 13px;
	vertical-align: middle;
	height: 18px;
	color: var(--highlighted-font-color);
}
