#fileLocation {
    display: inline;  
    margin-right: 8px;
}

#locationTitle {
    display: inline;
    font-size: 17px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#locationTitle:hover {
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}

.template {
    display: inline;
}

#fileImg {
    height: 14px;
    width: 14px;
    margin-right: 5px;
    filter: var(--icon-filter);
    display: inline;
}