:host{
	font-family: "SF-Pro", "Roboto";
}
.card{
    font-family: "SF-Pro", "Roboto";
    width: fit-content;
    overflow: hidden;
    border-radius: 15px;
    justify-content: space-between;
    padding: 0.3em 1em 1em;
    background-color: var(--card-background);
    
    box-shadow: 0 0 10px var(--card-shadow);
}
#titleWrapper{
    padding-left: 10px;
    padding-right: 10px;
}
#title{
    font-size: 18px;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-align: center;
    text-decoration: underline;
}
#date{
    font-size: 12pt;
    font-weight: normal;
    text-align: center;
}
#buttonWrapper{
    text-align:center;
}
button{
    cursor: pointer;    
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 4px 6px;
    text-decoration: none;
    margin: 4px 5px;
    border-radius: 6px;
}
#openButton{
    background-color: var(--primary-button-color);
}
#peakButton{
    background-color:var(--secondary-button-color);
}