#log {
    padding-bottom: 0;
    width: 100%;
    z-index: -1;
    scrollbar-width: 5px;
}

#log::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

h1 {
    height: 18px;
    font-size: 19px;
    font-family: "SF-Pro";
}

#monthlyLogs {
    display: flex;
}

#monthlyLogs.closed {
    display: none;
}

#monthlyName.closed {
    display: none;
}

#dailyLogs.closed {
    display: none;
}

#dailyName.closed {
    display: none;
}

