#logCarousel {
    border: none;
    overflow: auto;
    outline: none;
    display: block;
    z-index: -1;
    margin-bottom: 30px;
    scrollbar-width: 5px;
}

#carousel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

#carousel {
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    display: flex;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: 8px;
}

#carousel item-card {
    margin: 10px 11px 10px 4.5px;
    padding-right: 3px;
}

#sectionTitle {
    display: inline;
    margin-right: 18px;
}

button {
    user-select: none;
    vertical-align: middle;
    border: none;
    font-size: 13px;
    font-weight: 700;
    font-weight: bold; 
    background-color: rgba(0,0,0,0);
    display: inline;
}

#new-button {
    color: var(--highlighted-font-color);
    background-color: var(--primary-button-color);
    height: 20px;
    width: 40px;
    border-radius: 6px;
    margin-bottom: 5px;
    display: inline;
    cursor: pointer;
}

h1 {
    height: 18px;
    font-size: 19px;
    font-family: "SF-Pro";
    font-weight: bold;
}
::-webkit-scrollbar {
    height: 0.8vw;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    height:3vw;
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555;
}