#logCarousel {
    border: none;
    overflow: auto;
    outline: none;
    display: block;
    z-index: -1;
}

#carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 138px;
    display: flex;
    white-space: nowrap;
    width: 100%;
}

#carousel item-card {
    margin: 10px 11px 10px 4.5px;
    padding-right: 3px;
}

h1 {
    height: 18px;
    font-size: 19px;
    font-family: "SF-Pro";
}