#logNotes {
    border: none;
    overflow: auto;
    outline: none;
    display: block;
    z-index: -1;
}

#logNotes text-block{
	display: block;
	margin: 0;
	padding: 0 0 8px 0;
	width: 100%;
	left: 0;
	right: 0;
}

h1 {
    height: 18px;
    font-size: 19px;
    font-family: "SF-Pro";
}