.navigation {
    display: none; 
}

.nav-bar {
    position: fixed;
    width: 210px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;

    background-color: var(--navbar-background-color);
}

.collapsed-nav {
    position: fixed;
    width: 40px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    display: block;

    background-color: transparent;
}

button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 150px;
    height: 23px;
    margin: 5px auto 32px auto;
    cursor: pointer;
    text-align: left;
}

button img {
    height: 100%;
    filter: var(--icon-filter);
    opacity: 80%;
}
button p {
    display:inline-block;
    font-family: "SF-Pro";
    font-size: 15px;
    opacity: 80%;
    filter: var(--icon-filter);
}

button p2 {
    display:inline-block;
    font-family: "SF-Pro";
    font-size: 15px;
    opacity: 80%;
    position: relative;
    bottom: 7px;
    filter: var(--icon-filter);
}

button h1 {
    display:inline-block;
    font-family: "SF-Pro";
    font-weight: bold;
    font-size: 28px;
    opacity: 80%;
    filter: var(--icon-filter);
}


button:hover img {
    opacity: 100%;
    transition: opacity 25ms;
}

button:hover p {
    opacity: 100%;
    transition: opacity 25ms;
}

button:hover p2 {
    opacity: 100%;
    transition: opacity 25ms;
}

button:hover h1 {
    opacity: 100%;
    transition: opacity 25ms;
}

#bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#top {
    margin-bottom: -10px;
    margin-top: 10px;
    margin-left: 30px;
}

#home {
    width: 150px;
    display: inline-block;
}

#collapse {
    width: 30px;
    display: inline-block;
}

#collapseImage {
    height: 75%;
}

#user {
    position: static;
    height: 22px;
    margin: 0 auto;
}

#help {
    position: static;
    height: 22px;
    margin-bottom: 20px;
}

#mainNav.closed {
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#mainNav.open {
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* #closedNav {
    display: none;
} */

#closedNav.closed {
    /* display: none; */
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#closedNav.open {
    /* display: block; */
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


@media only screen and (max-width:1100px) {
    #menu {
        position: fixed;
        width: 30%;
        height: 100%;
        box-shadow: 0 0 2px #85888C;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: var(--navbar-background-color);
        -webkit-font-smoothing: antialiased;
    }

    #menu.closed {
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu.open {
        transform-origin: 0 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .nav-bar {
        display:none;
    }

    .navigation {
        display: block;
        padding: none;
        margin: none;
        width: 30vh;
        top: 0;
        left: 0;
        position:fixed;
    }

    /* #homeMenu {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
    } */

    #singleMenu {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 180px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #doubleMenu {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 290px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* #userMenu {
        position: absolute;
        width: 65px;
        height: 65px;
        top: calc(100% - 115px);
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
    } */
}

@media only screen and (max-height: 1200px){
    /* #homeMenu {
        width: 40px;
        height: 40px;
    } */

    #singleMenu {
        width: 40px;
        height: 40px;
        top: 150px;
    }

    #doubleMenu {
        width: 40px;
        height: 40px;
        top: 230px;
    }

    /* #userMenu {
        position: absolute;
        width: 45px;
        height: 45px;
        top: calc(100% - 85px);
    } */
}

@media only screen and (max-height: 800px){
    /* #homeMenu {
        width: 35px;
        height: 35px;
    } */

    #singleMenu {
        width: 35px;
        height: 35px;
        top: 130px;
    }

    #doubleMenu {
        width: 35px;
        height: 35px;
        top: 190px;
    }
/* 
    #userMenu {
        position: absolute;
        width: 40px;
        height: 40px;
        top: calc(100% - 65px);
    } */
}