:host {
	font-family:"SF-Pro";
}

#container{
    font-family: "SF-Pro";
    max-width: 100%;
    text-align: center;
    margin: calc(15.77px - 0.5vw) 0 0;
}

#sideCardWrapper{
    display: block;
    max-width: 100%;
    max-height: 91.4%;
    overflow-y:hidden;
}

#sideCardWrapper:hover{
    overflow-y:auto;
}

#createNewGoal{
    border: none;
    color: var(--highlighted-font-color);
    background-color: var(--primary-button-color);
    font-size: 17px;
    border-radius: 6px;
    height: 50px;
    padding: 0 7px;
    width: calc(100% - 98px);
    opacity: 0.85;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#createNewGoal:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
    width: 0.5vw;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    height:3vw;
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555;
}