:host {
	padding: 10px;
	width: calc(100% - 20px);
	height: 30px;
}

::slotted(p) {
	pointer-events: none;
	margin: 0 0 0 15px;
	width: min-content;
	padding: 5px;
	vertical-align: middle;
	font-size: 17px;
	font-weight: 500;
	height: min-content;
	opacity: 0.5;
	transition: ease-in-out 150ms;
	border-radius: 5px;
}

:host(:hover) ::slotted(p) {
	opacity: 1;
	transition: ease-in-out 150ms;
}

:host([selected]) ::slotted(p){
	opacity: 1;
	transition: ease-in-out 150ms;
}
