@font-face {
    font-family:"SF-Pro";
    src: url("./public/fonts/SF-Pro.ttf");
}

text-block {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
}

tracker-block{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
}

creator-block{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.noteContainer {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 87px;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

.eventContainer {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 87px;
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 40%;
    min-width: 40ch;
    height: 100vh;
    background-color: var(--tracker-background-color); /* #2B2D42 */
    color: var(--tracker-foreground-color);
    font-family: system-ui;
    transition: transform .4s ease-in-out
}

.wrapper.closed {
    transform: translate3d(100%, 0, 0);
}
            
.wrapper.open {
    transform: translate3d(0, 0, 0);
}

.tracker_header {
    display: flex;
    justify-content: flex-start;

    margin: 0 20px;
    padding: 0 20px;
    height: 75px;
    border-bottom: 2px solid var(--tracker-border-color); /*rgba(157, 148, 241, 0.7);*/
}

.tracker_header h1 {
    text-align: center;
    flex: 1;
    font-size: 24pt;
}

button {
    margin: 0;
    border: none;
    background-color: rgba(0,0,0,0);
}

.close_button img {
    filter: invert();
    opacity: 50%;
    width: 15px;
    cursor: pointer;
}

.close_button:hover img {
    opacity: 100%;
}

.tracker_menu {
    overflow-y: auto;
}

#editor {
    margin: 20px 20px 0px;
}

@media screen and (max-width: 900px) {
    .wrapper{
        width: 100%;
    }
}