
/* Default color theme values.
 * Please use var() with the appropriate variable in web components.
 * For example:
 *      border: 2px solid var(--border-color);
 */
 :root {
    -webkit-font-smoothing: antialiased;
    background-color: var(--body-background);
    color: var(--normal-font-color);
}