<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>hello</h1>
		<entries></entries>
    <script src="entries.js" type="module"></script>
  </body>
<html>



  <form class="future">
    <label for="future">Future Log </label>
    <br><br>

    <input type="month" id="future" name="future">
    <br><br>
    <input type="submit" value="Create"> 
  </form>

  <form class="daily">
    <label for="daily">Daily Log </label>
    <br><br>
    <label for="today">Today's Date: </label><br><br>
    <input type="date" id="daily" name="daily">
    <br><br>
    <label for="today-text">Today</label><br><br>
    <textarea id='daily' name="w3review" rows="6" cols="50"></textarea>
    <input type="submit" value="Create"> 
  </form>