@font-face {
    font-family:"SF-Pro";
    src: url("./public/fonts/SF-Pro.ttf");
}

html{
	overflow: hidden;
}

html, body, section, .full-height {
    height: 100%;
    user-select: all;
} 

body{
    margin: 0;
	overflow: auto;
	position: relative;
	z-index: -2;
}

div{
    font-size: 18px;
    line-height: 26px;
}
#contentWrapper {
    border: none;
    overflow: auto;
    outline: none;
    display: block;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 20px;
	position: relative;
	z-index: -1;
}

.container-fluid {
    margin-top: 5%;
    margin-left: 8%;
}

.text-block{
    background-color: white;
}

.noteContainer{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}

/*
.noteContainer:before{content: '\f081';} */

#markdown {
    overflow: auto;
    border-left: 1px solid black;
    padding: 3%;
}


/* thomas's code */
#topbar{
	margin-top: 15px;
	margin-left: 80px;
	margin-right: 20px;
	vertical-align: middle;
	border-bottom: solid 2px rgba(0, 0, 0, 0.05);
	height: 60px;
	text-align: left;
}

@media only screen and (max-width:900px) {
	#topbar{
		margin-left: 20px;
		text-align: center;
	}

	#contentWrapper{
		margin-left: 20px;
	}
}

/* Fade-in buttons */
#targetMenu{
	display: none;
}


@media only screen and (max-width:900px) {
	#targetMenu{
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 60px;
		height: 60px;
		border-radius: 80px;
		border: 1px solid transparent;
		box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.1);
		background-image: url(./public/resources/target_icon.png);
		background-size: 35px;
		background-repeat: no-repeat;
		background-position-x: 14px;
		background-position-y: 7px;
		background-color: transparent;
		cursor: pointer;
		opacity: 0.7;
		-webkit-font-smoothing: antialiased;
		background-blend-mode: multiply;
		transition: 0.2s;
	}
	
	#targetMenu:hover{
		opacity: 1;
		transition: 0.2s;
	}
}

/* Side navigation */
#sidebar {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.sidebar button {
    display: block;
    color: #818181;
    padding: 10px 0px;
    margin: 10px auto;
}

/* Text editor, to be integrated */
main {
    margin-left: 100px;
    margin-top: 100px;
}

/* Test code */
.dropdown-button {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 1000ms;
}

.dropdown-button:hover {
    background-color: tomato;
    transition: 250ms;
}

.dropdown-button:active {
    border: solid;
    border-color: gray;
    transition: 250ms;
}