<template id="block">
	<style>
		@font-face {
			font-family:"SF-Pro";
			src: url("./public/fonts/SF-Pro.ttf");
		}
		#textBlock {
			font-family: "SF-Pro";
			border: none;
			overflow: auto;
			outline: none;
			resize: none;
			width: 94%;   
		}

		#textBlock:empty::before{
			content: attr(placeholder);
			color: gray;
		}

		.unstylized{
			margin: 7px 0 12px;
			font-size: 18px;
			line-height: 28px;
		}

		.note{
			margin: 0;
			position: relative;
			font-size: 18px;
			line-height: 28px;
			display: inline-block;
			vertical-align: top;
		}

		.header1{
			font-size: 42px;
			line-height: 50px;
			font-weight: bold;
			margin: 15px 0 20px;
		}

		.header2{
			font-size: 30px;
			line-height: 36px;
			font-weight: bold;
			margin: 8px 0 13px;
		}
	</style>
	<div id="textBlock" contenteditable="true" placeholder='Type "/" to create a block'></div>
</template>