
  .nav-bar {
    position: absolute;
    width: 100px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: rgba(236, 223, 207, 0.4);

  }

  #home {
    background-image: url(home_icon.png);
    background-size: cover;
    background-color: transparent;
    border:none;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
  }

  #target {
    background-image: url(target_icon.png);
    background-size: cover;
    background-color: transparent;
    background-blend-mode: multiply;
    border:none;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    top: 100px;
  }

  #single {
    background-image: url(left.png);
    background-size: cover;
    background-color: transparent;
    background-blend-mode: multiply;
    border:none;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 26px;
    top: 170px;
  }

  #double {
    background-image: url(double_icon.png);
    background-size: cover;
    background-color: transparent;
    background-blend-mode: multiply;
    border:none;

    position: absolute;
    width: 40px;
    height: 40px;
    left: 28px;
    top: 240px;
  }

  #user {
    background-image: url(user.png);
    background-size: cover;
    background-color: transparent;
    background-blend-mode: multiply;
    border:none;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 28px;
    top:90vh;
  }

  ul {
    list-style-type: none;
   }

