@font-face {
    font-family:"SF-Pro";
    src: url("./public/fonts/SF-Pro.ttf");
}

html, body, section, .full-height {
    height: 100%;
    user-select: all;
} 

body{
    margin: 0;
}

div{
    font-size: 18px;
    line-height: 26px;
}
#contentWrapper {
    border: none;
    overflow: auto;
    outline: none;
    padding: 10px;
    display: block;
}

.text-block{
    background-color: white;
}

.noteContainer{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}

/*
.noteContainer:before{content: '\f081';} */

#markdown {
    overflow: auto;
    border-left: 1px solid black;
    padding: 3%;
}